<section class="cotainer-fluid p-0 m-0">
    <% if(messages.error){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>OOPs! </strong> <%= messages.error%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    <% if(messages.success){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success! </strong> <%= messages.success%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
</section>