<section class="container my-3">
    <form class="d-flex my-3" role="post" action="/PostUrl" method="POST">
        <input class="form-control me-2 border border-dark" type="url" minlength="7" required
          placeholder="Type url to short it" aria-label="url" name="url">
        <button class="btn btn-danger" type="submit">ShortUrl</button>
      </form>
</section>