<!-- Component of the Header -->
<%- include('../partials/Header.ejs'); %>

<!-- Component of the Navbar -->
<%- include('../partials/Navbar.ejs'); %>

<!-- Error Page Start from here  -->
<main class="d-flex align-items-center flex-column container-fluid justify-content-center" style="background-color: rgb(227, 224, 218)">
    <div>
        <img src="/img/error.gif" alt="error" class="img-fluid">
    </div>

    <a href="/"><button class="btn btn-danger my-2 ">Go Home</button></a>
</main>

<!-- Component of the Footer -->
<%- include('../partials/Footer.ejs'); %>